<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/cubo.css" rel="stylesheet">
    </head>
    <body>
        <div class="cube-container">
            <div class="cube">
              <div class="face top"></div>
              <div class="face bottom"></div>
              <div class="face left"></div>
              <div class="face right"></div>
              <div class="face front"></div>
              <div class="face back"></div>
              <div class="cube2">
                <div class="face top"><%= abbreviation %></div>
                <div class="face bottom"><%= abbreviation %></div>
                <div class="face left"><%= abbreviation %></div>
                <div class="face right"><%= abbreviation %></div>
                <div class="face front"><%= abbreviation %></div>
                <div class="face back"><%= abbreviation %></div>
              </div>
            </div>
          </div>
          <hr>
          <h1><%= name %>, <%= abbreviation %> </h1>
          <p><%= randomFact %></p>
          <P>[...]</P>
          <button>ver detalhes</button>
          <button>ver aplicações</button>
          <button>ver experimentos</button>
    </body>
</html>